doctype html
head
    title finance
    meta(charset='UTF-8')
    link(rel='stylesheet' href='style.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
.nav
    a(href='/')
        img.logo(src='static/images/main-page/logo.png' alt='logo')
    div
        input.form-control.mr-sm-2(type='text' placeholder='Search')
    img.search(src='static/images/main-page/search.svg')
    img.user(src='static/images/main-page/login.svg')
.news-title-container
    img(src='static/images/finance/finance01.png' alt='finance')
    p.category-title Finance
.all-news-containter
    .single-news-container
        .finance-grid-news
            p.finance-news-font Market
        .finance-grid-news
            p.finance-news-font business
        .finance-grid-news
            p.finance-news-font work
        .finance-grid-news
            p.finance-news-font economy
        .finance-grid-news
            p.finance-news-font real estate
        .finance-grid-news
            p.finance-news-font money
        .finance-grid-news
            p.finance-news-font small business
        .finance-grid-news
            p.finance-news-font video
        .finance-grid-news
            p.finance-news-font more
.footer
    p About us
