extends default

block content

    p.category-title Profile
    .user-container
        .user-profile
            div.user-image
            p.logined-font #{name}
            a(href='/logout')
                button.btn.btn-primary  Log out
        .liked-news-container
            p.logined-font Liked News
            each news in likedNews
                p #{news.id}
                p #{news.description}
                img(src= news.imageurl alt='likedNews' width='15%')       
