extends default

block content

  div.login-background
    div.login-form
      div.login-container
        h1.login-title Login
        form(method='POST' action='/login')
          div.form-group
            label(for='username') username
            input.form-control(type='text' id='username' placeholder='username' name='username')
          div.form-group
            label(for='password') Password
            input.form-control(type='password' id='password' placeholder='password' name='password')
          button.btn.btn-primary  Log in

  script(type='text/javascript', src='/jquery-3.1.0.min.js')
  script(type='text/javascript').
    $('#login').click(function(evt){
      evt.preventDefault();

      $.ajax({
        url: '/login',
        type: 'POST',
        data: {
          name: $('#name').val(),
          password: $('#password').val()
        },
        success: function(data){
          if(data.ret_code === 0){
            location.reload();
            }
          }
        });
      });
