extends default

block content
    div.arts-news-title-container
        img(src='static/images/news/news-1.jpg' alt='art' width='100%')
        p.category-title #{title}

    div.container
        each onenews in news
            .grid-news
                a(href =`/newsdetail/${onenews._id}`)
                    img(src= onenews.imageurl alt='art' width='100%')
                    .news-font-container
                        p.category-news-font #{onenews.description}

