extends default

block content
    div.arts-news-title-container
        img(src='static/images/news/news-1.jpg' alt='art' width='100%')
        p.category-title #{title}

    div.container
        each onenews in news
            .grid-news
                .dislike
                img(src= onenews.imageurl alt='art' width='100%')                                                                       
                div.news-font-container
                    p.category-news-font
                        a(href=`./${onenews.category}/${onenews.description}`) #{onenews.description}
                        .commen-container
    

    script(type='text/javascript', src='http://libs.baidu.com/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript').

        $(function () {            
            $(".dislike").click(function () {
                $(this).toggleClass('like');
            })
        })
