extends default

block content

    div.arts-news-title-container
        img(src='static/images/art/art01.jpg' alt='art' width='100%')   
        div.single-news-container
            each onenews in news
                div.politics-grid-news
                    p.politics-news-font 
                    a(href=`./${onenews.category}/${onenews.description}`) #{onenews.description}
                </div>      
        </div>
    </div>

