extends default

block content

   each one in news
        .search-news-container
            a(href=`/newsdetail/${one._id}`)
                img(src= one.imageurl alt='search' width='15%')
                p #{one.description}

