extends default

block content
    form.login-background(method='POST' action='/signup')
        div.signup-form
            div.login-container
                h1.login-title Sign Up
                p.signup-font Please fill in this form to create an account.
                hr
                div.form-group
                    label(for='username') Username
                    input.form-control(type='text' placeholder='username' name='username' required=true)
                div.form-group
                    label(for='psw') Password
                    input.form-control(type='password' placeholder='Enter Password' pattern = ".{6,}" title = "Six or more characters" 
                    name='psw' required=true)
                div.form-group
                    label(for='psw-repeat') Repeat Password
                    input.form-control(type='password' placeholder='Repeat Password' name='psw-repeat' required=true)
                div.form-group
                    p.signup-font Please select at least 3 categories of your preference.
                    hr
                    input.checkbox(type='checkbox' name ='Entertainment' value='Entertainment')
                    |  Entertainment
                    input.checkbox(type='checkbox' name ='Science' value='Science')
                    |  Science
                    input.checkbox(type='checkbox' name = 'Sport' value='Sport')
                    |  Sport
                    br
                    input.checkbox(type='checkbox' name ='Health' value='Health')
                    |  Health
                    input.checkbox(type='checkbox' name ='Technology' value='Technology')
                    |  Technology
                    input.checkbox(type='checkbox' name ='Business' value='Business')
                    |  Business

                button.btn.btn-primary.signup-submit(type='submit') Sign Up


    script.
        if(document.getElementByName('psw').value === document.getElementByName('psw-repeat').value){
            document.getElementByName('confirm_password').innerHTML = "MATCH";
        }
        else {
            document.getElementByName('confirm_password').innerHTML= "NOT MATCH";
        }
