doctype html
head
    title Sport
    meta(charset='UTF-8')
    link(rel='stylesheet' href='style.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
.nav
    a(href='/')
        img.logo(src='static/images/main-page/logo.png' alt='logo')
    div
        input.form-control.mr-sm-2(type='text' placeholder='Search')
    img.search(src='static/images/main-page/search.svg')
    img.user(src='static/images/main-page/login.svg')
.sport-news-title-container
    img(src='static/images/sport/sport01.jpg' alt='sport')
    p.sport-category-title Sport
.all-news-containter
    .single-news-container
        .sport-grid-news
            p.sport-news-font GO FIGHTING!
        .sport-grid-news
            p.sport-news-font GO FIGHTING!
        .sport-grid-news
            p.sport-news-font GO FIGHTING!
        .sport-grid-news
            p.sport-news-font GO FIGHTING!
        .sport-grid-news
            p.sport-news-font GO FIGHTING!
        .sport-grid-news
            p.sport-news-font GO FIGHTING!
        .sport-grid-news
            p.sport-news-font GO FIGHTING!
        .sport-grid-news
            p.sport-news-font GO FIGHTING!
        .sport-grid-news
            p.sport-news-font GO FIGHTING!
.footer
    p About us
