doctype html
head
    title Technology
    meta(charset='UTF-8')
    link(rel='stylesheet' href='style.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
.nav
    a(href='/')
        img.logo(src='static/images/main-page/logo.png' alt='logo')
    div
        input.form-control.mr-sm-2(type='text' placeholder='Search')
    img.search(src='static/images/main-page/search.svg')
    img.user(src='static/images/main-page/login.svg')
.tech-news-title-container
    img(src='static/images/tech/tech01.jpg' alt='tech' width='100%')
    p.category-title Technology
.all-news-containter
    .single-news-container
        .tech-grid-news
            p.tech-news-font Techonolgy makes life besutiful!
        .tech-grid-news
            p.tech-news-font Techonolgy makes life besutiful!
        .tech-grid-news
            p.tech-news-font Techonolgy makes life besutiful!
        .tech-grid-news
            p.tech-news-font Techonolgy makes life besutiful!
        .tech-grid-news
            p.tech-news-font Techonolgy makes life besutiful!
        .tech-grid-news
            p.tech-news-font Techonolgy makes life besutiful!
        .tech-grid-news
            p.tech-news-font Techonolgy makes life besutiful!
        .tech-grid-news
            p.tech-news-font Techonolgy makes life besutiful!
        .tech-grid-news
            p.tech-news-font Techonolgy makes life besutiful!
.footer
    p About us
