doctype html
head
    title travel
    meta(charset='UTF-8')
    link(rel='stylesheet' href='style.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
.nav
    a(href='/')
        img.logo(src='static/images/main-page/logo.png' alt='logo')
    div
        input.form-control.mr-sm-2(type='text' placeholder='Search')
    img.search(src='static/images/main-page/search.svg')
    img.user(src='static/images/main-page/login.svg')
.news-title-container
    img(src='static/images/travel/travel02.png' alt='travel')
    p.category-title Travel
.all-news-containter
    .single-news-container
        .travel-grid-news
            p.travel-news-font Canberra
        .travel-grid-news
            p.travel-news-font Darwin
        .travel-grid-news
            p.travel-news-font Syndey
        .travel-grid-news
            p.travel-news-font Melbourne
        .travel-grid-news
            p.travel-news-font Perth
        .travel-grid-news
            p.travel-news-font Cairns
        .travel-grid-news
            p.travel-news-font Brisbane
        .travel-grid-news
            p.travel-news-font Travel ideas
        .travel-grid-news
            p.travel-news-font Culture Shock
.footer
    p About us
