doctype html
head
    title Weather
    meta(charset='UTF-8')
    link(rel='stylesheet' href='style.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
.nav
    a(href='/')
        img.logo(src='static/images/main-page/logo.png' alt='logo')
    div
        input.form-control.mr-sm-2(type='text' placeholder='Search')
    img.search(src='static/images/main-page/search.svg')
    img.user(src='static/images/main-page/login.svg')
.news-title-container
    img(src='static/images/weather/weather03.png' alt='weather')
    p.category-title Weather
.all-news-containter
    .single-news-container
        .weather-grid-news
            p.weather-news-font Lake Eyre could get to its fullest since 1974 but Murray-Darling is missing out
        .weather-grid-news
            p.weather-news-font Can you really see more rainbows in Tasmania than any other state or territory?
        .weather-grid-news
            p.weather-news-font Australia swelters through the warmest March on record
        .weather-grid-news
            p.weather-news-font
                | BOM&apos;s extreme weather desk answers questions about two cyclones looming off Australian coasts
        .weather-grid-news
            p.weather-news-font State of the drought: Dams are empty and NSW is drowning in dust
        .weather-grid-news
            p.weather-news-font
                | Summer 2018-19 was hottest on record, BOM says, with little relief expected for autumn
        .weather-grid-news
            p.weather-news-font How do rainbows form and what shape are they really?
        .weather-grid-news
            p.weather-news-font How far ahead can we actually predict the weather? Hint: Not very far
        .weather-grid-news
            p.weather-news-font More
.footer
    p About us
